.animation{
    animation-name: animation;
    animation-duration: .8s;
    @keyframes animation {
    10%{
        opacity: .8;
    }
    50% {
        opacity: .5;
    }
    90%{
        opacity: 1;
    }
}
}

.game-interface{
    display: flex;
}
.game-object{
    position: relative;
    top: 100px;
    left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    padding: 3px;

    &__section{
        width: 300px;
        height: 300px;
        transition: filter .3s ease-in-out;
        

    }
    &__section[data-id = "1"]{
        background-color: #01579B;
        border-top-left-radius: 100%;
    }
    &__section[data-id = "2"]{
        background-color: #FFC107;
        grid-column: 1/3;
        grid-row: 2/3;
        border-bottom-left-radius: 100%;
    }
    &__section[data-id = "3"]{
        background-color: #009688;
            grid-column: 2/3;
            grid-row: 2/3;
            border-bottom-right-radius: 100%;
    }
    &__section[data-id = "4"]{
        background-color: #AD1457;
            grid-column: 2/3;
            grid-row: 1/3;
            border-top-right-radius: 100%;
    }
    &__section[data-id = "1"]:hover,
    &__section[data-id = "2"]:hover,
    &__section[data-id = "3"]:hover,
    &__section[data-id = "4"]:hover,
    &__section[data-id = "1"]:focus,
    &__section[data-id = "2"]:focus,
    &__section[data-id = "3"]:focus,
    &__section[data-id = "4"]:focus{
        filter: opacity(0.8);

    }

}
.game-information{
    position: relative;
    top: 50px;
    left: 30%;
}
.game-information__round{
    font-size: 50px;
}
.game-information__btn{
    font-size: 30px;
    background-color: transparent;
}